<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../run_time/alpha_tony_repo/Spring MVC-4.3.18.GLOBAL/spring-web-4.3.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../run_time/alpha_tony_repo/Spring MVC-4.3.18.GLOBAL/spring-webmvc-4.3.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../run_time/alpha_tony_repo/Spring MVC-4.3.18.GLOBAL/spring-webmvc-portlet-4.3.18.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../run_time/alpha_tony_repo/Spring MVC-4.3.18.GLOBAL/spring-websocket-4.3.18.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>